* {
    font-size: 10px;
    font-family: 'Cardo', serif;
    font-style: "https://fonts.googleapis.com/css2?family=Cardo&display=swap";
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  a{
    text-decoration: none;
  }

  h1 {
    text-align: center;
    font-size: 3.0rem;
    padding: 5px;
    margin-bottom: 0;
  }