// CATALOGO  MOBILE START

.container-tienda-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    margin-top: 40px;
    gap: 4rem;
    justify-items: center;

    .btn.btn-outline-dark {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        width: fit-content;
        --bs-btn-hover-bg: black;
        box-shadow: 2px 2px 7px black;
    }

    .card-body {

        .card-title {
            text-align: center;
            font-size: 2rem;
        }

        .card-text {
            margin-top: 10px;
            font-size: 1.5rem;
        }

    }
}

// PRODUCTOS DESKTOP START

.container-grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    margin-top: 40px;
    gap: 4rem;
    justify-items: center;
    

    .btn.btn-outline-dark {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
        width: fit-content;
        --bs-btn-hover-bg: black;
    }

    .card {
        border: 1px black solid;

        img {
            max-height: 268px;
        }

        .card-title{
            background-color: black;
            color: white;
        }

        .btn.btn-outline-dark{
            margin-left: 25%;
            margin-top: 5%;
            padding: 3%;
            padding-left: 2%;
            padding-left: 5%;
        }

    }

    .card-body {
        padding: 0;
        color: black;

        li {
            font-size: 1.9rem;
            text-align: center;
            padding-top: 5px;
        }

        ul {
            padding: 0;
        }

        h5 {
            font-size: 2rem;
            text-align: center;
        }

        .card-title {
            text-align: center;
            font-size: 2rem;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 0;
        }

        .card-text {
            margin-top: 10px;
            font-size: 2rem;
            text-align: center;
            width: 22rem;
            margin: 0;
            margin-left: 5%;

        }

    }
}

.products-list{
    li{
        font-size: 1.8rem;
    }
}

// PRODUCTOS DESKTOP END