/* BOTONES FLOTANTES START */

.btn-wsp {
  position: fixed;
  width: 6rem;
  height: 60px;
  line-height: 63px;
  bottom: 90px;
  right: 15px;
  background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 4rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-ins {
  position: fixed;
  width: 6rem;
  height: 60px;
  line-height: 63px;
  bottom: 20px;
  right: 15px;
  background: #960f9b;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 4rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width:320px) {

  .btn-wsp {
    position: fixed;
    width: 5rem;
    height: 5rem;
    line-height: 63px;
    bottom: 75px;
    right: 15px;
    background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 4rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .btn-ins {
    position: fixed;
    width: 5rem;
    height: 5rem;
    line-height: 63px;
    bottom: 20px;
    right: 15px;
    background: #960f9b;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 4rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }



  .floating-buttons {



    .fa-instagram {
      position: relative;
      bottom: 0.8rem;
      font-size: 2.5rem;
    }

    .fa-whatsapp {
      position: relative;
      font-size: 2.5rem;
      bottom: 0.8rem;
    }
  }




}

/* BOTONES FLOTANTES END */