/* FOOTER START */

.container-footer {
  display: flex;
  padding-right: 5%;
  justify-content: space-between;
  padding-top: 5px;
}

/* MAPA START*/

.iframe-mapa {
  margin-left: 5%;
  margin-top: 60px;
  margin-right: 1%;
  width: 1900px;
  height: 340px;
  border-radius: 5px;
  padding-right: 5%;
}

/* MAPA END*/

// PAYMENT START
.payment-footer {
  display: flex;
  flex-direction: column;
}

/* NAVBAR FOOTER START */

.border-navbar-footer {
  flex-direction: column;
  display: flex;
  margin-left: 3%;
  color: black;
  padding-top: 70px;
  min-width: 16%;
  margin: 0%;

  a {
    color: black;
  }
}

.redes-sociales-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.redes-sociales-border {
  display: flex;
  padding-bottom: 10px;


  a {
    padding-left: 10px;
    color: black;
    font-size: 90%;
  }
}

.redes-sociales-container img {
  align-items: left;
  width: 30px;
  height: 30px;
}

.redes-sociales-container {
  margin-right: 20px;
  margin-top: 10%;
}

.border-navbar-footer {
  gap: 50px;
}

.border-narbar-lista {

  li {
    width: max-content;

  }

  a {
    font-size: 2rem;
    @include config-words;
  }
}

.redes-sociales-container {
  width: 100%;
}


/* NAVBAR FOOTER END */

// SUBRAYADO NAVBAR START

.border-narbar-lista {
  margin: 2rem 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column
}

.border-narbar-lista {

  li {
    @include config-words;
    font-size: 2rem;
    position: relative;
    padding-bottom: 0;
  }
}



.border-narbar-lista {

  li:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: black;
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
}

.border-narbar-lista {

  li:hover:after {
    transform-origin: left;
    transform: scaleX(1);
  }

}

// SUBYADO NAVBAR FIN



@media screen and (max-width: 991px) {
  /* NAVBAR FOOTER START */


  .container-footer {
    padding: 0%;
  }

  .border-navbar-footer {
    flex-direction: column;
    display: flex;
    margin-left: 3%;
    color: black;
    padding-top: 70px;
    margin: 0%;
    padding: 0%;

    li {
      transition: all 500ms;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      color: black;
    }
  }

  .redes-sociales-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .redes-sociales-border {
    display: flex;
    padding-bottom: 10px;


    a {
      padding-left: 10px;
      color: black;
      font-size: 90%;
    }
  }

  .redes-sociales-container img {
    align-items: left;
    width: 30px;
    height: 30px;
  }


  /* NAVBAR FOOTER END */

  /* FOOTER END */

}

@media screen and (min-width: 670px) {

  .redes-sociales-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0%;
    margin-top: 5%;
    margin-left: 5%;
  }


}

@media screen and (min-width: 445px) {

  .redes-sociales-container {
    width: 100%;
    font-size: 10px;
  }

}

@media screen and (min-width: 992px) {

  .border-narbar-lista {
    margin-right: 10%;
    padding-left: 10%;
  }

  .iframe-mapa {
    margin-bottom: 5%;

  }

  .container-footer {
    padding: 0;
  }

  .border-navbar-footer {
    margin-top: 5%;
  }

}

/* FOOTER END */