/* INDEX START */

.carousel-item {
  height: 65vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 20%;
  margin-top: -28vh;
  max-height: 800px;
}

.carousel-inner {
  height: 1500px;
}

.carousel-caption {
  text-shadow: 2px 2px 3px black;
  bottom: 35rem;


  h5 {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

}

.welcome-fe-cakes {
  margin-top: 15px;
  font-size: 3rem;
  background-color: black;
  color: white;
}


/*PRODUCTOS START */

.container-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(387px, 1fr));
  margin-top: 3%;
  gap: 0;
  text-align: center;
  justify-items: center;

  img {
    max-height: 230px;
  }

  .card {
    width: 35rem;
    border: 0px transparent;
    border-bottom: solid black 2px;

    img {
      transition: 1000ms all;
      margin-bottom: 7%;
      vertical-align: center;
      justify-content: center;
    }

    .card-body {

      h5 {
        font-size: 2.5rem;
      }

      p {
        font-size: 2rem;
        text-align: center;
        padding-top: 0%;
      }

      a {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

    }
  }
}

.btn.btn-outline-dark {
  --bs-btn-hover-bg: black;
}

//PRODUCTOS END

// BLACKBAR START

.black-bar-index {
  background-color: black;
  width: 100%;
  margin-top: 3%;
  padding: 3%;
  text-align: center;

  a {
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    font-size: 2rem;
    margin-top: 3rem;
  }

  p {
    font-size: 3rem;
    color: white;
  }

  button {
    margin-top: 15px;
    font-size: 2rem;
  }

}

// BLACKBAR END

// PREGUNTAS FRECUENTES START

.container-accordion {
  margin-top: 3%;

}

.accordion {
  margin-top: 2%;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 2%;
    background-color: black;
    color: white;
  }

  h2 {
    button {
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 2rem;
  }
}

.accordion-item {
  border: transparent;
  margin-bottom: 0.5rem;
}

.accordion-body {
  background-color: black;
  color: white;

  p {
    margin: 0;
  }

}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  border-color: black;
}

.accordion-button:focus {
  --bs-accordion-btn-focus-box-shadow: 0;
}

@media screen and (min-width: 320px) {

  .recetas {

    h3 {
      font-size: 1.6rem;
    }

  }

  .carousel-item {
    height: 50vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0%;
    margin-top: -0%;
    transform: scale(1.2);

  }

  .carousel-item {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-inner {
    height: 30rem;
  }


  .carousel-caption.d-md-block {
    margin-bottom: 10rem;

    h5 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }



}

@media screen and (max-width: 991px) {

  .carousel-caption {
    text-shadow: 2px 2px 3px black;

    bottom: 20rem;


    h5 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.7rem;
    }

  }

  .container-accordion {
    margin-top: 3%;
  }

  .accordion {
    margin: 0;

    h1 {
      font-size: 2.5rem;
    }
  }

  .container-cards-grid {
    .card {
      margin-top: 2rem;
      width: 30rem;

    }
  }

  .card {
    img {
      min-height: 20rem;
      max-height: 20rem;
    }
  }

}

@media screen and (min-width: 992px) {

  .carousel-inner {
    height: 75rem;
  }

  .carousel-item {
    height: 95vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0%;
    margin-top: -0%;
    transform: scale(1.2)
  }

  .carousel-caption.d-md-block {

    h5 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }




}

@media screen and (max-width: 992px) {

  .black-bar-index {

    p {
      font-size: 2rem;
    }
  }
}


@media screen and (max-width: 1160px) {

  .card:nth-child(3) {
    grid-column: 1/3;
    margin-top: 5%;
  }


}

@media screen and (max-width: 775px) {

  .container-cards-grid {
    grid-template-columns: 1fr;
  }

  .card:nth-child(3) {
    grid-column: 1/1;
    margin-top: 5%;
  }

}

@media screen and (max-width: 601px) {

  .preg-mobile {
    display: none;
  }


  .black-bar-index {
    display: none;
  }
}

@media screen and (min-width: 602px) {

  .preg-mobile {
    display: block;
  }

  .container-accordion {
    display: none;
  }

  .black-bar-index {
    button {
      font-size: 2rem;
    }
  }

}


// INDEX END