.nav-item.prod-mobile {
    display: block;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {

    /* ELEMENTOS ELIMINADOS */

    .dropdown,
    .not-mobile,
    .nav-item.dropdown,
    .iframe-mapa {
        display: none;
    }

    /* ELEMENTOS AGREGADOS */

    .nav-item.prod-mobile {
        display: block;
    }


}

@media screen and (min-width: 445px) {

    .mobile-redes {
        display: none;
    }

    .redes-texto-large {
        display: block;
    }

}


@media screen and (max-width: 601px) {

    .preg-mobile {
      display: none;
    }
  
  
    .black-bar-index {
      display: none;
    }
  }
  
  @media screen and (min-width: 602px) {
  
    .preg-mobile {
      display: block;
    }
  
    .container-accordion {
      display: none;
    }
  
    .black-bar-index {
      button {
        font-size: 2rem;
      }
    }
  
  }
@media screen and (min-width: 670px) {

    .dropdown,
    .not-mobile,
    .nav-item.dropdown {
        display: none;
    }

    .mobile-redes {
        display: none;
    }

    .redes-texto-large {
        display: block;
    }


}

@media screen and (min-width: 992px) {

    // ELEMENTO ELIMINADOS START
    .nav-item.prod-mobile {
        display: none;
    }

    .redes-sociales-container {
        display: none;
    }

    // ELEMENTO ELIMINADOS END


    // ELEMENTOS AGREGADOS START

    .dropdown,
    .not-mobile,
    .barra-sup .tiras-negras {
        display: block;
    }

    .nav-item.dropdown {
        display: block;
    }

    .iframe-mapa {
        display: block;
    }

    .mobile-redes {
        display: block;
    }

    // ELEMENTOS AGREGADOS END

}

@media screen and (max-width: 320px) {
    /* ELEMENTOS ELIMINADOS */

    .iframe-mapa,
    .dropdown,
    .not-mobile,
    .barra-sup,
    .nav-item.dropdown {
        display: none;
    }
}