.swal2-popup {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border: 2px solid black;
}
.welcomeText{
    font-size: 5rem;
    text-align: center;
    background: black;
    color: white;
}